{% extends 'base.html' %}

{% block home %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Overview</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                This week
            </button>
            </div>
        </div>

        <div class="row"> 

          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">

                <div class="row">
                  <div class="col">
                    <h5 class="card-title">Transactions</h5>
                  </div>
                  <div class="col">
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>

                <div class="row">
                  {% for transactions in recentUserTransactions %}
                  <div class="row">
                    <div class="col">
                      {% if transactions.transactionType == 'Expense' %}
                        Expense
                      {% else %}
                        Income
                      {% endif %}
                    </div>
                    <div class="col">
                      {{transactions.amount}}
                    </div>
                  </div>
                    <br>
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>  

          <!-- Add Transacton Modal  -->
          <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Transactions</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label"></label>
                        {% for radio in form.transactionType %}
                          <div class="myradio">
                            {{ radio }}
                          </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Category</label>
                      {{ form.transactionCategory }}
                    </div>
                    <div class="mb-3">
                      <label for="amount" class="col-form-label">Transaction Type</label>
                      {{form.amount}}
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add Transaction</button>
                </div>
              </form>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title  ">Summary</h5>
                <div class="row">
                  <div class="col">
                    {{userBalance}}
                    <h6 class="card-subtitle mb-2 text-muted">Balance</h6>
                  </div>
                  <div class="col">
                    {{savingsAmount}}
                    <h6 class="card-subtitle mb-2 text-muted">Saved</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    {{expensesAmount}}
                    <h6 class="card-subtitle mb-2 text-muted">Spent</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">

          </div>
          

        </div>

</body>
    
{% endblock %}