{% extends 'statistics.html' %}

{% block balance %}
  <div class="statisticsBalanceCanvasContainer" style="height: 65vh">
    <canvas id="statisticsBalanceCanvas"></canvas>
  </div>
  <div class="button-container d-flex justify-content-center">
    <button type="button" class="btn btn-primary" onclick="sevenDays()" >7D</button>
    <button type="button" class="btn btn-primary" onclick="thirtyDays()" >30D</button>
    <button type="button" class="btn btn-primary" onclick="twelveWeeks()" >12W</button>
    <button type="button" class="btn btn-primary" onclick="sixMonths()" >6M</button>
    <button type="button" class="btn btn-primary" onclick="oneYear()" >1Y</button>
  </div>
  <script>
    const statisticsBalanceVar = document.getElementById('statisticsBalanceCanvas').getContext('2d');
    const statisticsBalanceChart = new Chart(statisticsBalanceVar, {
        type: 'line',
        data: {
            labels: [{% for record in sevenDaysBalanceRecord %} '{{record.date|date:"m/d"}}', {% endfor %}],
            datasets: [{
                label: 'Balance Breakdown',
                data: [{% for record in sevenDaysBalanceRecord%} '{{record.balance}}', {% endfor %}],
                backgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)'
                ],
                borderColor: [
                  'rgb(255, 99, 132)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)'
                ],
                borderWidth: 1,
                hoverOffset: 5
            }]
        },
      options: {
        maintainAspectRatio: false,
        responsive: true,
      }
    });
  </script>
{% endblock %}