{% extends 'statistics.html' %}

{% block spending %}
  <div class="statisticsSpendingCanvasContainer" style="height: 65vh">
    <canvas id="statisticsSpendingCanvas"></canvas>
  </div>
  <div class="button-container d-flex justify-content-center">
    <button type="button" class="btn btn-primary" onclick="sevenDays()" >7D</button>
    <button type="button" class="btn btn-primary" onclick="thirtyDays()" >30D</button>
    <button type="button" class="btn btn-primary" onclick="twelveWeeks()" >12W</button>
    <button type="button" class="btn btn-primary" onclick="sixMonths()" >6M</button>
    <button type="button" class="btn btn-primary" onclick="oneYear()" >1Y</button>
  </div>

  <script>
    const statisticsSpendingVar = document.getElementById('statisticsSpendingCanvas').getContext('2d');
    const statisticsSpendingChart = new Chart(statisticsSpendingVar, {
        type: 'doughnut',
        data: {
            labels: [{% for category in ExpensesCategories %} '{{category}}', {% endfor %}],
            datasets: [{
                label: 'Cash Flow',
                data: [{% for category, dates in ExpensesCategories.items %} {% if dates.7D == None %} '{{ 0 }}' 
                        {% else %} '{{dates.7D}}' {% endif %}, {% endfor %}],
                backgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)'
                ],
                borderColor: [
                  'rgb(255, 99, 132)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)'
                ],
                borderWidth: 1,
                hoverOffset: 5
            }]
        },
      options: {
        maintainAspectRatio: false,
        responsive: true,
      }
    });

    function sevenDays() {
      statisticsSpendingChart.data.datasets[0].data = [{% for category, dates in ExpensesCategories.items %} {% if dates.7D == None %} '{{ 0 }}' 
      {% else %} '{{dates.7D}}' {% endif %}, {% endfor %}];
      statisticsSpendingChart.update();
    }      

    function thirtyDays() {
      statisticsSpendingChart.data.datasets[0].data = [{% for category, dates in ExpensesCategories.items %} {% if dates.30D == None %} '{{ 0 }}' 
      {% else %} '{{dates.30D}}' {% endif %}, {% endfor %}];
      statisticsSpendingChart.update();
    }
    
    function twelveWeeks() {
      statisticsSpendingChart.data.datasets[0].data = [{% for category, dates in ExpensesCategories.items %} {% if dates.12W == None %} '{{ 0 }}' 
      {% else %} '{{dates.12W}}' {% endif %}, {% endfor %}];
      statisticsSpendingChart.update();
    }

    function sixMonths() {
      statisticsSpendingChart.data.datasets[0].data = [{% for category, dates in ExpensesCategories.items %} {% if dates.6M == None %} '{{ 0 }}' 
      {% else %} '{{dates.6M}}' {% endif %}, {% endfor %}];
      statisticsSpendingChart.update();
    }

    function oneYear() {
      statisticsSpendingChart.data.datasets[0].data = [{% for category, dates in ExpensesCategories.items %} {% if dates.1Y == None %} '{{ 0 }}' 
      {% else %} '{{dates.1Y}}' {% endif %}, {% endfor %}];
      statisticsSpendingChart.update();
    }
  </script>
{% endblock %}