{% extends 'statistics.html' %}
{% load static %}

{% block balance %}
  <link rel="stylesheet" href="{% static 'css/statistics_style.css' %}">
  <div class="statisticsBalanceCanvasContainer" style="height: 65vh">
    <canvas id="statisticsBalanceCanvas"></canvas>
  </div>
  <div class="button-container d-flex justify-content-center">
    <button type="button" class="btn btn-primary" onclick="sevenDays()" >7D</button>
    <button type="button" class="btn btn-primary" onclick="thirtyDays()" >30D</button>
    <button type="button" class="btn btn-primary" onclick="twelveWeeks()" >12W</button>
    <button type="button" class="btn btn-primary" onclick="sixMonths()" >6M</button>
    <button type="button" class="btn btn-primary" onclick="oneYear()" >1Y</button>
  </div>
  <script>
    const statisticsBalanceVar = document.getElementById('statisticsBalanceCanvas').getContext('2d');
    const statisticsBalanceChart = new Chart(statisticsBalanceVar, {
        type: 'line',
        data: {
            labels: [{% for record in sevenDaysBalanceRecord %} '{{record.date|date:"m/d"}}', {% endfor %}],
            datasets: [{
                label: 'Balance Breakdown',
                data: [{% for record in sevenDaysBalanceRecord%} '{{record.balance}}', {% endfor %}],
                backgroundColor: [
                  'rgb(33,191,115)',
                ],
                borderColor: [
                  'rgb(33,191,115)',
                ],
                borderWidth: 1,
                hoverOffset: 5
            }]
        },
      options: {
        plugins: {
          legend: {
              display: false,
          }
        },
        scales:{
          y: {
            ticks: { color: 'rgb(255,255,255)'},
            grid: {
              color: "rgb(39,43,46)"
            },
          },
          x: {
            ticks: { color: 'rgb(255,255,255)'},
            grid: {
              color: "rgb(39,43,46)"
            },
          }
        },
        maintainAspectRatio: false,
        responsive: true,
      }
    });

    function thirtyDays() {
      statisticsBalanceChart.data.labels = [{% for record in thirtyDaysBalanceRecord %} '{{record.date|date:"m/d"}}', {% endfor %}];
      statisticsBalanceChart.data.datasets[0].data = [{% for record in thirtyDaysBalanceRecord %} '{{record.balance}}', {% endfor %}];
      statisticsBalanceChart.update();
    }
    
    function twelveWeeks() {
      statisticsBalanceChart.data.labels = [{% for record in twelveWeeksDaysBalanceRecord %} '{{record.date|date:"m/d"}}', {% endfor %}];
      statisticsBalanceChart.data.datasets[0].data = [{% for record in twelveWeeksDaysBalanceRecord %} '{{record.balance}}', {% endfor %}];
      statisticsBalanceChart.update();
    }

    function sixMonths() {
      statisticsBalanceChart.data.labels = [{% for record in sixMonthsDaysBalanceRecord %} '{{record.date|date:"m/d"}}', {% endfor %}];
      statisticsBalanceChart.data.datasets[0].data = [{% for record in sixMonthsDaysBalanceRecord %} '{{record.balance}}', {% endfor %}];
      statisticsBalanceChart.update();
    }

    function oneYear() {
      statisticsBalanceChart.data.labels = [{% for record in oneYearDaysBalanceRecord %} '{{record.date|date:"m/d"}}', {% endfor %}];
      statisticsBalanceChart.data.datasets[0].data = [{% for record in oneYearDaysBalanceRecord %} '{{record.balance}}', {% endfor %}];
      statisticsBalanceChart.update();
    }
  </script>
{% endblock %}