{% extends 'base.html' %}

{% block transactions %}
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
  
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
    <h1 class="h2">Statistics</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <div class="button-box pt-2 pb-3 mb-3 border-bottom">
    <a class="btn btn-primary" href="{% url 'statisticsBalance' %}">Balance</a>
    <a class="btn btn-primary" href="{% url 'statisticsCashFlow' %}">Cash Flow</a>
    <a class="btn btn-primary" href="{% url 'statisticsSpendingView' %}">Spending</a>
  </div>
  
  {% block balance %}
  {% endblock %}

  {% block cashflow %}
  {% endblock %}

  {% block spending %}
  {% endblock %}

{% endblock %}